.container {
	border: 1px solid #d3d3d3;
	background: #f5f5f5;
	width: 640px;
	display: flex;
	padding: 65px;
}

.input-container {
	display: flex;
	flex: 1;
}

.input-container label, .input-container input {
	flex: 1;
}

.separator {
	border-left: 1px solid #d1d1d1;
    padding-right: 25px;
	margin: 20px 0 20px 25px;
	flex: 0;
}