.card {
	width: 222px;
	height: 160px;
	padding: 30px;
	background: white;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
	margin: 0 0 20px;
	text-transform: uppercase;
}

.weather-image {
	flex: 1;
}

.weather-image img { 
	max-width: 100%;
	max-height: 100%;
	width: 100%;
}

.temperature {
	font-size: 46px;
	font-weight: bold;
}

.wind {
	font-size: 12px;
}

.wind > span {
	font-weight: bold;
	margin-right: 5px;
}