html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root { 
  height: 100%;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex: 1;
}

.flex1 {
  flex: 1;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.justify {
  justify-content: center;
}